$primary: #6e61ca;
$secondary: #c282fa;
$transparentSecondary: #76719990;
$error1: #ff0000;
$error2: #ff4e78;
$white: #ffffff;
$black:#000000;
$orange:#f54f29;

$dark1: #484848;
$dark2: #414141;
$dark3: #646464;

$gray1: #b3b3b3;
$gray2: #f2f2f2;
$gray3: #e1e1e1;
$gray4: #BFBFBF;
$gray5: #72777a;

$textDark: #090a0a;
$textLight: #6c7072;
$textGrey: #686868;